<div class="container-fluid">
  <div class="content-body">
    <div class="row justify-content-center">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">

                  <div class="form-validation">
                    <h2>Sửa sản phẩm</h2>
                      <form class="form-valide" action="#" method="post">
                          <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="val-id">Id
                            </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="val-id" name="val-id" placeholder="1" disabled>
                            </div>
                              <label class="col-lg-4 col-form-label" for="val-product-name">Tên sản phẩm <span class="text-danger">*</span>
                              </label>
                              <div class="col-lg-6">
                                  <input type="text" class="form-control" id="val-product-name" name="val-product-name" placeholder="Nhập tên sản phẩm..">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-4 col-form-label" for="val-code">Mã CODE <span class="text-danger">*</span>
                              </label>
                              <div class="col-lg-6">
                                  <input type="text" class="form-control" id="val-code" name="val-code" placeholder="Nhập mã code..">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-4 col-form-label" for="val-price">Giá <span class="text-danger">*</span>
                              </label>
                              <div class="col-lg-6">
                                  <input type="text" class="form-control" id="val-price" name="val-price" placeholder="Nhập giá..">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-4 col-form-label" for="val-quantity">Số lượng <span class="text-danger">*</span>
                              </label>
                              <div class="col-lg-6">
                                  <input type="text" class="form-control" id="val-quantity" name="val-quantity" placeholder="Nhập số lượng">
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-lg-4 col-form-label" for="val-category">Phân loại sản phẩm <span class="text-danger">*</span>
                              </label>
                              <div class="col-lg-6">
                                  <select class="form-control" id="val-category" name="val-category">
                                      <option value="">Chọn</option>
                                      <option value="html">Điện máy</option>
                                      <option value="html">Điện tử</option>
                                      <option value="html">Linh kiện</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="input-file-now">Ảnh <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                              <div class="file-upload-wrapper">
                                <input type="file" id="input-file-now" class="file-upload" />
                              </div>
                            </div>
                          </div>


                          <!-- Editor -->
                          <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="summernote">
                                            <h3>Mô tả chi  tiết</h3>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                          <!-- end editor -->

                          <div class="form-group row">
                              <label class="col-lg-4 col-form-label"><a href="#">Xác nhận</a>  <span class="text-danger">*</span>
                              </label>
                              <div class="col-lg-8">
                                  <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                      <input type="checkbox" class="css-control-input" id="val-terms" name="val-terms" value="1"> <span class="css-control-indicator"></span> Xác nhận</label>
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-lg-8 ml-auto">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                          </div>



                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

