<div class="content-body">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center mb-4">
                        <img class="mr-3" src="../../../../assets/images/avatar/11.png" width="80" height="80" alt="">
                        <div class="media-body">
                            <h3 class="mb-0">Admin name</h3>
                            <p class="text-muted mb-0">Quản lý</p>
                        </div>
                    </div>

                    <h4>About Me:</h4>
                    <p class="text-muted">This is description.</p>
                    <ul class="card-profile__info">
                        <li><strong class="text-dark mr-4">Uername</strong> <span>Admin</span></li>
                        <li><strong class="text-dark mr-4">Mobile</strong> <span>01793931609</span></li>
                        <li><strong class="text-dark mr-4">Address</strong> <span>HN</span></li>
                        <li><strong class="text-dark mr-4">Email</strong> <span>name@domain.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8">
            <div class="card">

                <div class="card-body">
                    <h3>Sửa thông tin</h3>
                    <form action="#" class="form-profile">
                        <div class="form-group">
                          <input type="text" class="form-control input-default" placeholder="Username" disabled>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-default" placeholder="Họ và Tên">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control input-default" placeholder="Địa chỉ">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control input-default" placeholder="Số điện thoại">
                        </div>
                        <div class="d-flex align-items-center">

                            <button class="btn btn-primary px-3 ml-4">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                  <h3>Đổi mật khẩu</h3>
                  <form action="#" class="form-profile">
                      <div class="form-group">
                          <input type="password" class="form-control input-default" placeholder="Mật khẩu cũ">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control input-default" placeholder="Mật khẩu mới">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control input-default" placeholder="Điền lại mật khẩu">
                      </div>
                      <div class="d-flex align-items-center">

                          <button class="btn btn-primary px-3 ml-4">Submit</button>
                      </div>
                  </form>
              </div>
            </div>

            <div class="card">
            </div>
        </div>
    </div>
  </div>
</div>

