
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                  <h3>Thêm hãng</h3>
                  <a routerLink="/admin/production" class="btn btn-success">Back</a>

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8">
            <div class="card">

                <div class="card-body">
                    <h3>Thôn tin hãng</h3>
                    <form action="#" class="form-profile" [formGroup]="productionForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <input type="text" class="form-control input-default" formControlName='name' placeholder="Tên hãng">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-default" formControlName='company' placeholder="Tên công ty">
                        </div>
                        <div class="d-flex align-items-center">

                            <button class="btn btn-primary px-3">Submit</button>
                        </div>
                    </form>
                </div>


            </div>

            <div class="card">
            </div>
        </div>
    </div>
  </div>
</div>

