<div class="content-body">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12">
        <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                <a routerLink="/admin/order" class="btn btn-success">Back</a>
                  <div class="card-title mt-2">
                      <h4>Table Striped</h4>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Tên sản phẩm</th>
                                  <th>Số lượng</th>
                                  <th>Thành tiền</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Iphone 13</td>
                                  <td><span class="badge badge-primary px-2">1</span>
                                  </td>
                                  <td class="color-primary">25.000.000 VND</td>
                              </tr>
                              <tr>
                                  <th>2</th>
                                  <td>Máy cạo râu kiêm sạc dự phòng</td>
                                  <td><span class="badge badge-danger px-2">1</span>
                                  </td>
                                  <td class="color-success">250.000.000 VND</td>
                              </tr>
                              <tr>
                                <td colspan="3"></td>
                                <td>
                                  Chiết khấu: -299.999 VND <br>
                                  Thành tiền: XXX VND
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
